@media (max-width: 768px) {
    main section.hero p {
        font-size: 2rem;
        width: 90%;
        flex-wrap: wrap;
    }

    main section.teachers div.profile {
        width: 700px;
    }

    main section.register p {
        width: 50%;
        text-align: center;
    }
}

@media (max-width:425px) {
    header {
        flex-direction: column;
    }

    header div a img.logo {
        width: 80px;
        height: 80px;
        margin: 20px;
        padding: 5px;
        margin-left: 39%;
    }

    header nav ul {
        flex-direction: column;
        text-align: center;
        margin: 20px;
    }

    header nav ul li a {
        margin: 10px;
        line-height: 70px;
    }

    main section.hero h2 {
        font-size: 4rem;
    }

    main section.hero p {
        font-size: 2rem;
    }

    main section.hero a.btn {
        margin-top: 10px;
    }

    main section.about h2, main section.cronogram h2, main section.teachers h2, main section.register h2 {
        font-size: 3rem;
        width: 75%;
        text-align: center;
        margin: 10px auto;
    }

    main section.about p, main section.cronogram ul li p {
        font-size: 1.6rem;
    }

    main section.cronogram ul li h3 {
        font-size: 1.8rem;
    }

    main section.cronogram ul li p {
        width: 50%;
    }

    main section.teachers div.profile {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 320px;
    }

    main section.teachers div.profile div.profile-picture img {
        width: 320px;
        border-radius: 20px 20px 0px 0px;
    }

    main section.teachers div.profile div.profile-info h4 {
        font-size: 1.6rem;
    }

    main section.teachers div.profile div.profile-info p {
        padding-top: 50px;
    }

    main section.register h2 {
        width: 45%;
    }

    footer {
        justify-content: space-evenly;
    }

    footer ul.social li a i {
        font-size: 4rem;
        margin-top: 5px;
    }

}