* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: #070707;
    list-style: none;
    font-family: 'Josephine Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}