* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 62.5%;
    font-weight: 400;
    color: #000
}

@font-face {
    font-family: 'Playfair Display' ;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
}

a {
    text-decoration: none;
}