* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Bitter', serif;
    font-size: 62.5%;
    color: #fff;
    list-style: none;
}

@font-face {
    font-family: 'Bitter';
    src: url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;600&display=swap');
}

a {
    color: #fff;
    text-decoration: none;
}