* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FAFAFA;
    list-style: none;
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}