body {
    background-color: #D1FFBE;
}

.form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 70px auto;
}

.form h1 {
    font-weight: 600;
    font-size: 3.6rem;
    margin: 50px;
    text-align: center;
}

.form label {
    font-size: 2rem;
    margin: 50px auto 20px auto;
    width: 300px;
    text-align: center;
}

.form input, .form select, .form textarea {
    font-size: 2rem;
    margin: 0 auto 10px auto;
    text-align: center;
    border-radius: 50px;
    border: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 250px;
    color: #070707;
    padding: 5px;
}

.form input.problem, .form input#range {
    box-shadow: none;
    margin: 0 auto;
}

.form textarea {
    margin-bottom: 50px;
}

.form #submit:hover {
    opacity: 0.9;
    cursor: pointer;
    font-weight: 600;
}